*::-webkit-scrollbar {
    width: 1em;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #788199;
  outline: 1px solid #666f88;
}

.img {
    width: 100%;
    height: 100vh;
}

.logo {
    width: 100%;
    height: 100%;
}

.logo-img {
    width: 16em;
    height: 10em;
}

.logo-footer {
    width: 24em;
    height: 19em;
}

@media (max-width: 700px) {
    .logo-img {
        width: 8em;
        height: 5em;
        margin: 7px;
    }
    .logo-footer {
        width: 20em;
        height: 16em;
    }
  }

.cardBox:hover {   
    transition: .3s;
    transform: scalex(1.1) scaley(1.1);
    transform-origin: center;
}

.img-full{
    width: 100%;
    height: 100%;
}

.img-small {
    cursor: pointer;
}

a {
    text-decoration: none;
    margin-left: 2%;
}

.a-light{
    display: inline-block;
}

.img-light{
    width: 12em;
    height: 12em;
    margin-bottom: 10px;
}
